<template>
  <v-app>
    <v-main>
      <v-btn 
        elevation="2"
        large
        raised
      >
        Login with Discord
        <v-icon left dark>

        </v-icon>
      </v-btn>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: "Login"
}
</script>

<style scoped>

</style>